body{
    background-color: gray;
    color: white;
    font-family: Courier;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
    padding: 1rem;
    border-bottom: 1px solid white;
}
header h1{
    padding: 0px;
    margin: 0px;
}