body{
    background-color: purple;
    color: white;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
    padding: 1rem;
    border-bottom: 1px solid white;
}
header h1{
    padding: 0px;
    margin: 0px;
}

.estilo-subtitulo{
    background-color: darkblue;
    padding: 0.5rem;
    text-align: left;
    box-shadow: 0px 5px 6px rgba(255, 255, 255, 0.2)  ;
}
.estilo-subtitulo h2{
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.contenedor-titulo-parrafo{
    margin: 1rem;
    border: 2px solid white;
}

